<pre>
    backgroundColor: 
    <input 
        #backgroundColor 
        type="color" 
        [value]="cssStyle.backgroundColor" 
        (change)="update({backgroundColor: backgroundColor.value})"/>

    <app-color-selector [color]="cssStyle.backgroundColor" (colorChange)="update({backgroundColor: $event})"></app-color-selector>

    borderColor: 
    <input
        #borderColor
        type="color" 
        [value]="cssStyle.borderColor"
        (change)="update({borderColor: borderColor.value})"/>
    <app-color-selector [color]="cssStyle.borderColor" (colorChange)="update({borderColor: $event})"></app-color-selector>
    
    borderRadius: 
    <input
        #borderRadius 
        type="number" 
        [value]="cssStyle.borderRadius.replace('px', '').replace('%', '')"
        (change)="update({borderRadius: buildRadius(borderRadius.value, unit.value)})"/>
    <select 
        #unit
        (change)="update({borderRadius: buildRadius(borderRadius.value, unit.value)})">
        <option value="px">px</option>
        <option value="%">%</option>
    </select>
</pre>
